*.txt
!CMakeLists.txt
/tests
/.vscode

*.pdb
*.obj
*.ilk
*.exe
*.dll

/*.cpp
*.gb
*.out

/build
/buildWindows
/misc

#Gameboy-doctor utensils. It helped me a lot.
/*.log
/gameboy-doctor
/truth
/*.json

